# Environment (ne PAS tracker .env, seulement .env.docker)
.env
backend/.env
frontend/.env.local
application-local.properties

# Maven / Java
target/
*.class
*.log

# Node.js
node_modules/
frontend/build/

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Divers
nbactions.xml
